* {
  font-family: League Spartan;
  font-weight: normal;
}

#title {
  background-color: #FAF7F0;
}
.navbar {
  font-weight: bolder;
}




#image {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('images/image2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#image h1{
  font-weight:bold;
   line-height:55px;
}
#image h1:hover{
  font-weight: bolder;
  font-family: cursive;
}



#About {
  background-image: url('images/image3.jpg');
  font-weight: bolder;
  padding-top:2%;
}
.tittlep {
  text-align: center;
  width: 100%;
  padding: 3% 30% 0% 30%;
}
.tittlep:hover{
  font-weight: bold;
  font-family: cursive;
}
.img {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 60%;

}
.p {
  text-align: center;
  width: 100%;
  padding: 0% 30% 3% 30%;
}
.p:hover{
  font-weight: bold;
  font-family: cursive;
}




#Projects {
  background-color: #dee4ca;
  padding: 7% 15%;
  text-align: center;
}
#Projects .row{
  padding-top:3%;
}
#Projects h1:hover{
  font-weight: bolder;
  font-family: cursive;
}
h3 {
  padding: 0% 10% 0% 10%;
  text-align: center;
}
#Projects h2:hover {
  font-weight: bolder;
  font-family: cursive;
}
#Projects h3:hover {
  color: black;
  font-weight: bolder;
  font-family: cursive;
}

#Projects h5:hover {
  font-weight: bolder;
  font-family: cursive;
}




#Skills {
  padding: 5% 0;
  background-color: #96849b;
}
#Skills h2{
  text-align:center;
}
#Skills h2:hover{
  font-weight: bolder;
  font-family: cursive;
}
#Skills h3:hover{
   font-family: cursive;
   color:black;
}
#Skills h3{
  padding:0 0;
}
#Skills .html{
  color: #d40808;
}
#Skills .css{
  color: #084ae2;
}
#Skills .js{
  color: #d9d20d;
}
#Skills .bs{
  color: #0924f1;
}
#Skills .rt{
  color: #00b3ff;
}
.skills-2r {
  padding: 3% 0%;
}
.skills-2r.col {
  padding: 0 5%;
}
.cpp{
  font-weight:bold; line-height:55px;
}
.imm {
  border-radius: 10px;
  border-style: dotted;
  background-color: #F6F1F1;
  border-color: #718e72;
}

.imm:hover {
  color: #718e72;
  border-style: groove;
}





#Contact {
  background-color:	#ffe7e1;
  padding-top: 13%;
  padding-bottom: 13%;
}

.coh2 {
  padding: 3% 0;
  text-align: center;
}
.coh2:hover{
  font-weight: bolder;
  font-family: cursive;
}
.icon {
  text-align: center;
  width: 100%;
  border-radius: 50%;
}

.icon:hover {
  border-style: groove;
}
a {
  color: #0060B6;
  text-decoration: none !important;
}

a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer;
}
